---
- name: Deploy Microservices to Kubernetes
  hosts: localhost
  connection: local
  tasks:
    - name: Apply User Management Backend
      shell: |
        kubectl apply -f {{ lookup('env', 'WORKSPACE') }}/backend/k8s-deploy.yaml --server=https://74.242.218.195:6443 --insecure-skip-tls-verify=true
      environment:
        KUBECONFIG: "{{ lookup('env', 'KUBECONFIG') }}"

    - name: Apply Frontend Service
      shell: |
        kubectl apply -f {{ lookup('env', 'WORKSPACE') }}/frontend/k8s-frontend-deploy.yaml --server=https://74.242.218.195:6443 --insecure-skip-tls-verify=true
      environment:
        KUBECONFIG: "{{ lookup('env', 'KUBECONFIG') }}"